
<% if user_signed_in? && @user.id == current_user.id %>
  <% provide(:title, "マイページ") %>
<% else %>
  <% provide(:title, "#{@user.username}") %>
<% end %>

<div class="hero is-info is-bold">
  <div class="hero-body">
    <div class="columns is-centered is-vcentered">
      <div class="column is-2 is-offset-2">
          <figure class="image is-128x128 container is-centered">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image", class:"is-rounded" %>
          </figure>
      </div>
      <div class="column is-7 is-offset-1">
        <div class="container is-centered">
          <ul>
            <li class="is-size-2">
              <%= @user.username %>
            </li>
            <li class="">
              <%= @user.profile %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-7 is-offset-5">
        <table>
          <% if @user.twitter?%>
          <tr>
            <th>
              Twitter
            </th>
            <td>
              <%= @user.twitter %>
            </td>
          </tr>
          <% end %>
          <% if @user.instagram?%>
          <tr>
            <th>
              Instagram
            </th>
            <td>
              <%= @user.instagram %>
            </td>
          </tr>
          <% end %>
          <% if @user.facebook?%>
          <tr>
            <th>
              Facebook
            </th>
            <td>
              <%= @user.facebook %>
            </td>
          </tr>
          <% end %>
          <% if @user.website?%>
          <tr>
            <th>
              WEBサイト
            </th>
            <td>
              <%= @user.website %>
            </td>
          </tr>
          <% end %>
        </table>
        <% if user_signed_in? && @user.id == current_user.id %>
          <%= link_to 'プロフィール編集', profile_edit_path ,method: :get, class:"button is-light" %>
        <% end %>
      </div>
    </div>



  </div>
</div>


<div class="hero is-bold">
  <div class="hero-body level">
    <div class="is-size-4 has-text-weight-bold">これまで読んだ本 一覧</div>
    <div class="level-item level-right">
      <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" name="search" placeholder="キーワード検索">
        </div>
        <div class="control">
            <a class="button is-info"><i class="fa fa-search"></i>検索</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container is-fluid">
  <p class="">
    流石に上部デザインがダサすぎるから、どっかのテンプレートを使おう。
    下はこんな感じで、この人が投稿したアウトプットと課題図書を一緒に表示させる。課題図書とアウトプットデータベースから持ってくる。
    画像はその本のアウトプットページ、文章はこのアウトプット詳細ページへのリンクにする。
  </p>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <% @users.each do |user| %>
          <div class="column is-3">
            <div class="card">
              <div class="card-content">
                <div class="card-image">
                  <figure class="image">
                    <%= link_to user_path(user) do %>
                      <%= attachment_image_tag user, :profile_image, fallback: "no-image.png" %>
                    <% end %>
                  </figure>
                </div>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <div class="title">Title</div>
                  </div>
                </div>
                <div class="content">
                  アウトプットが入ります
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

</div>