<% if @user.id == current_user.id%>
  <% provide(:title, "マイページ") %>
<% else %>
  <% provide(:title, "#{@user.username}") %>
<% end %>

<div class="hero is-info is-bold">
  <div class="hero-body">



    <% if @user.id == current_user.id%>
      <div class="level-right ">
        <%= button_to 'プロフィール編集',profile_edit_path,method: :get, class:"button is-light" %>
      </div>
    <% end %>

    <div class="columns is-centered">
      <div class="column is-6">
          <figure class="image is-128x128 container is-centered">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image", class:"is-rounded" %>
          </figure>
      </div>
      <div class="column is-6">
        <div class="container is-centered">
              <%= @user.username %>
              <%= @user.profile %>
              <%= @user.twitter %>
              <%= @user.instagram %>
              <%= @user.facebook %>
              <%= @user.website %>
        </div>
      </div>
    </div>



  </div>
</div>


<div class="hero is-bold">
  <div class="hero-body level">
    <div class="is-size-4 has-text-weight-bold">これまで読んだ本 一覧</div>
    <div class="level-item level-right">
      <div class="field has-addons">
        <div class="control">
            <input class="input" type="text" name="search" placeholder="キーワード検索">
        </div>
        <div class="control">
            <a class="button is-info"><i class="fa fa-search"></i>検索</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container is-fluid">
  <p class="">
    Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.Hello.なんでちょっとはみ出るの？右側
  </p>
</div>