<% provide(:title, "過去の課題図書") %>

<div class="hero is-info is-bold">
   <div class="hero-body">
       <div class="container">
          <h1 class="title">過去の課題図書</h1>
          <div class="field has-addons">
            <%# <div class="control">
                <input class="input" type="text" name="search" placeholder="キーワード検索">
            </div>
            <div class="control">
                <a class="button is-info"><i class="fa fa-search"></i>検索</a>
            </div> %>
            <%= form_with url: books_search_path, class: "control", method: :post, local: true do |form| %>
              <input class="input" type="text" name="search" placeholder="タイトル検索">
              <button type="submit" class="button is-info"><i class="fa fa-search"></i>検索</button>
            <% end %>

          </div>
       </div>
   </div>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @books.each do |book| %>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="card-image">
                <figure class="image">
                  <%= link_to book_path(book) do %>
                    <%= attachment_image_tag book, :book_image, fallback: "no-image.png" %>
                  <% end %>
                </figure>
              </div>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <div class="title"><%=link_to book.title, book_path(book) %></div>
                </div>
              </div>
              <div class="content">
                book.id：<%= book.id %><br/>
                説明：<%= book.body %><br/>
                <%= link_to 'Edit', edit_book_path(book) %>｜<%= link_to 'Destroy', book, method: :delete, data: { confirm: '本当に削除しますか？' } %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
