<% provide(:title, "Home") %>

<section class="hero is-default is-bold mb-5 parallax-bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <% if @thisweek.id == @book.id %>
        <h1 class="title has-text-white">今週の課題図書</h1>
      <% elsif @nextweek.id == @book.id %>
        <h1 class="title has-text-white">来週の課題図書</h1>
      <% else %>
        <h1 class="title has-text-white">過去の課題図書</h1>
      <% end %>
      <div class="columns is-vcentered">
        <div class="column is-3 is-offset-2">
          <figure class="image is-4by4 container is-centered">
            <%= attachment_image_tag @book, :book_image, fallback: "no-image", class:"" %>
          </figure>
        </div>
        <div class="column is-7">
          <h1 class="title is-2 has-text-white">
            <%= @book.title %>
          </h1>
          <h2 class="subtitle is-4 has-text-white">
            <%= simple_format @book.body %>
          </h2>  
          <br>
          <p class="has-text-centered">
            <a class="button is-medium is-primary">
                購入する
            </a>
            <%= link_to 'アウトプットする', new_book_output_path(@book) , class:"button is-medium is-danger" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<main class="columns">
  <div class="submenu column is-3">
    <aside class="box menu">
      <p class="menu-label">プロフィール</p>
      <% if @user %>
        <%= link_to user_path(current_user) do %>
          <figure class="image is-128x128">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        <% end %>
        <p class="menu-label">ニックネーム</p>
          <%= link_to user_path(current_user) do %>
            <p class="is-size-5 has-text-dark"><%= @user.username %></p>
          <% end %>
        <p class="menu-label">フォロー</p>
          <%= @user.followings.count%>
        <p class="menu-label">フォロワー</p>
          <%= @user.followers.count%>
        <p class="menu-label">読んだ本の数</p>
          <%= Output.where(user_id: @user.id).count %>
        <p class="menu-label">集めたいいねの数</p>
          <% user_outputs = Output.where(user_id: @user.id)
            n = 0
            user_outputs.each do |output|
              n = n + output.favorites.count
            end 
          %>
          <%= n %>
      <% else %>
        <figure class="image is-128x128">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image",class:"is-rounded" %>
        </figure>
        <p class="menu-label">ニックネーム</p>
        <p class="is-size-5 has-text-dark">ゲストユーザー</p>
      <% end %>
    </aside>
    <aside class="box menu">
      <p class="menu-label">今週の課題図書</p>
      <div class="box">
        <figure class="image is-4by4 container is-centered">
          <%= attachment_image_tag @thisweek, :book_image, fallback: "no-image", class:"" %>
        </figure>
      </div>
      <p class="menu-label">タイトル</p>
      <div class="is-size-5 title"><%= @thisweek.title %></div>
      <p class="menu-label">説明</p>
      <div><%= @thisweek.body %></div>
   </aside>
    <aside class="box menu">
      <p class="menu-label">来週の課題図書</p>
      <div class="box">
        <figure class="image is-4by4 container is-centered">
          <%= attachment_image_tag @nextweek, :book_image, fallback: "no-image", class:"" %>
        </figure>
      </div>
      <p class="menu-label">タイトル</p>
      <div class="is-size-5 title"><%= @nextweek.title %></div>
      <p class="menu-label">説明</p>
      <div><%= @nextweek.body %></div>
   </aside>
  </div>

  <div class="column is-9">
    <div class="hero is-bold">
      <div class="hero-body level">
        <div class="is-size-4 has-text-weight-bold has-text-white">みんなのアウトプット</div>
        <div class="level-item level-right">
          <div class="field has-addons">
            <%
              if @sort_order_word == "新しい順" 
                sort = "0"
              elsif @sort_order_word == "古い順" 
                sort = "1"
              else
                sort = "2"
              end 
            %>
            <%= form_with url: book_path(@book, sort: sort, search: @search, narrow_down:@narrow_down), class: "control", method: :get, local: true do |form| %>
              <input class="input" type="text" name="search" placeholder="アウトプット検索" value="<%= @search %>">
              <input name="sort" type="hidden" value="<%= sort %>">
              <input name="narrow_down" type="hidden" value="<%= @narrow_down %>">
              <button type="submit" class="button is-info"><i class="fa fa-search"></i>検索</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <section class="level">
      <div class="level-left">
        <div class="level-item tabs">
          <ul>
            <%
              if @sort_order_word == "新しい順" 
                sort = "0"
              elsif @sort_order_word == "古い順" 
                sort = "1"
              else
                sort = "2"
              end 
            %>
            <li>
              <%= form_with url: book_path(@book, sort: sort, search: @search, narrow_down:0), class: "has-text-white", method: :get, local: true do |form| %>
                <% @narrow_down = "0" %>
                <input name="sort" type="hidden" value="<%= sort %>">
                <input name="search" type="hidden" value="<%= @search %>">
                <input name="narrow_down" type="hidden" value="<%= @narrow_down %>">
                <button type="submit" class="button">
                  全ての投稿
                </button>
              <% end %>
            </li>
            <% if user_signed_in? %>
              <li>
                <%= form_with url: book_path(@book, sort: sort, search: @search, narrow_down:1), class: "has-text-white", method: :get, local: true do |form| %>
                  <% @narrow_down = "1" %>
                  <input name="narrow_down" type="hidden" value="<%= @narrow_down %>">
                  <input name="sort" type="hidden" value="<%= sort %>">             
                  <input name="search" type="hidden" value="<%= @search %>">             
                  <button type="submit" class="button">
                    フォロー中の投稿
                  </button>
                <% end %>
              </li>
              <li>
                <%= form_with url: book_path(@book, sort: sort, search: @search, narrow_down:2), class: "has-text-white", method: :get, local: true do |form| %>
                  <% @narrow_down = "2" %>
                  <input name="narrow_down" type="hidden" value="<%= @narrow_down %>">
                  <input name="sort" type="hidden" value="<%= sort %>">             
                  <input name="search" type="hidden" value="<%= @search %>">             
                  <button type="submit" class="button">
                    フォロー中がいいねした投稿
                  </button>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item tabs">
          <ul>
            <li class="is-active">
              <%
                if @sort_order_word == "新しい順" 
                  sort = "1"
                  @narrow_down = params[:narrow_down]
                elsif @sort_order_word == "古い順" 
                  sort = "2"
                  @narrow_down = params[:narrow_down]
                else
                  sort = "0"
                  @narrow_down = params[:narrow_down]
                end 
              %>
              <%= form_with url: book_path(@book, sort: sort, search: @search,narrow_down: @narrow_down), class: "has-text-white", method: :get, local: true do |form| %>
                
                <input name="sort" type="hidden" value="<%= sort %>">             
                <input name="search" type="hidden" value="<%= @search %>">
                <input name="narrow_down" type="hidden" value="<%= @narrow_down %>">
                <button type="submit" class="button">
                  <%= @sort_order_word %>
                </button>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </section>

     <% @outputs.each do |output| %>
     <% output_user = User.find(output.user_id) %>
        <article class="box media">
          <figure class="media-left">
            <div>
            <%= link_to user_path(output_user) do %>
              <figure class="image is-64x64">
                <%= attachment_image_tag output_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
              </figure>
            <% end %>
          </figure>
          <div class="media-content">
            <div class="content">
              <p><strong><%= output_user.username %></strong><br>
                <%= output.body %><br>
                <%= output.created_at.strftime("%Y-%m-%d %H:%M") %><br>
                <small>

                <% if user_signed_in? && current_user.already_favorited?(output) %>
                  <%= link_to output_favorites_path(output),method: :delete do %>
                    <i class="fas fa-heart"></i>
                  <% end %>
                <% else %>
                  <%= link_to output_favorites_path(output),method: :post  do %>
                    <i class="far fa-heart"></i>
                  <% end %>
                <% end %>
                <%= output.favorites.count %>
                · 
                <%= link_to 'もっと見る', output_path(output.id) %>
                <% if current_user == output_user%>
                · <%= link_to '投稿の編集', edit_output_path(output) %> · <%= link_to '投稿の削除', output_path(output.id), method: :delete, data: { confirm: '元に戻せませんが、削除してもいいですか？' } %>
                <% end %>
              </p>
            </div>
            <% @comments = output.comments.limit(3) %>
            <%= "コメントの一部" if @comments.present? %>
            <% @comments.each do |c| %>
              <% comment_user = User.find_by(id: c.user_id)%>
              <article class="media">
                <figure class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag comment_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
                  </figure>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p><strong><%= comment_user.username %></strong><br>
                      <%= c.body %><br>
                    </p>
                  </div>
                </div>
              </article>
            <% end %>
          </div>
        </article>
      <% end %>
  </div>
</main>