<% provide(:title, "投稿詳細") %>

<section class="hero is-default is-bold mb-5 parallax-bg">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title has-text-white">投稿詳細</h1>
    </div>
  </div>
</section>

<main class="columns">
  <div class="submenu column is-3">
    <aside class="box menu">
      <p class="menu-label">プロフィール</p>
        <%= link_to user_path(@output_user) do %>
          <figure class="image is-128x128">
            <%= attachment_image_tag @output_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        <% end %>
        <p class="menu-label">ニックネーム</p>
        <%= link_to user_path(@output_user) do %>
        <p class="is-size-5 has-text-dark"><%= @output_user.username %></p>
        <% end %>

        <p class="menu-label">フォロー</p>
          <%= @output_user.followings.count%>
        <p class="menu-label">フォロワー</p>
          <%= @output_user.followers.count%>
        <p class="menu-label">読んだ本の数</p>
          <%= Output.where(user_id: @output_user.id).count %>
        <p class="menu-label">集めたいいねの数</p>
          <% user_outputs = Output.where(user_id: @output_user.id)
            n = 0
            user_outputs.each do |output|
              n = n + output.favorites.count
            end
          %>
          <%= n %>

          <% if user_signed_in? %>
            <%= render 'relationships/follow_button', user: @output_user %>
          <% end %>

    </aside>
  </div>

  <div class="column is-9">

    <article class="box media">
      <figure class="media-left">
        <%= link_to user_path(@output_user) do %>
          <figure class="image is-64x64">
            <%= attachment_image_tag @output_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        <% end %>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><strong><%= @output_user.username %></strong><br>
            <%= @output.body %><br>
            <%= @output.created_at.strftime("%Y-%m-%d %H:%M") %><br>
            <small>
            <% if user_signed_in? && current_user.already_favorited?(@output) %>
              <%= link_to output_favorites_path(@output),method: :delete do %>
                <i class="fas fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to output_favorites_path(@output),method: :post  do %>
                <i class="far fa-heart"></i>
              <% end %>
            <% end %>
            <%= @output.favorites.count %><br>

            <% if current_user == @output_user%>
            <%= link_to '投稿の編集', edit_output_path(@output) %> · <%= link_to '投稿の削除', output_path(output.id), method: :delete, data: { confirm: '元に戻せませんが、削除してもいいですか？' } %>
            <% end %>
            </small>
          </p>
        </div>
      </div>
    </article>

    <h1 class="has-text-white mt-4 mb-4 title">コメント一覧</h1>

    <% @comments.each do |c| %>
      <% comment_user = User.find_by(id: c.user_id)%>
      <article class="media has-text-white">
        <figure class="media-left">
          <figure class="image is-48x48">
            <%= attachment_image_tag comment_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="has-text-white"><strong class="has-text-white"><%= comment_user.username %></strong><br>
              <%= c.body %><br>
            </p>
          </div>
        </div>
      </article>
    <% end %>
    

    <%= form_with model: @comment, url: output_comments_path(@output), local: true, method: :post do |form| %>

      <div class="field">
        <div class="control">
          <%= form.text_area :body, class: "input is-medium textbox textarea textboxcss my-5", required: true %>
          <%= form.hidden_field :output_id, value: @output.id %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit "コメントする",class:"button is-primary is-block is-fullwidth is-medium is-rounded" %>
      </div>
    <% end %>
  </div>
</main>