<% provide(:title, "投稿詳細") %>

<section class="hero is-info is-default is-bold mb-5">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">投稿詳細</h1>
    </div>
  </div>
</section>

<main class="columns">
  <div class="submenu column is-3">
    <aside class="box menu">
      <p class="menu-label">プロフィール</p>
        <%= link_to user_path(@output_user) do %>
          <figure class="image is-128x128">
            <%= attachment_image_tag @output_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        <% end %>
        <p class="menu-label">ニックネーム</p>
        <%= link_to user_path(@output_user) do %>
        <p class="is-size-5 has-text-dark"><%= @output_user.username %></p>
        <% end %>
        <p class="menu-label">フォロー</p>
        <p class="menu-label">フォロワー</p>
        <p class="menu-label">読んだ本の数</p>
        <p class="menu-label">集めたいいねの数</p>

    </aside>
  </div>

  <div class="column is-9">

    <article class="box media">
      <figure class="media-left">
        <%= link_to user_path(@output_user) do %>
          <figure class="image is-64x64">
            <%= attachment_image_tag @output_user, :profile_image, fallback: "no-image",class:"is-rounded" %>
          </figure>
        <% end %>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><strong><%= @output_user.username %></strong><br>
            <%= @output.body %><br>
            <small><a>Like</a> · <a>Reply</a> · 3 hrs 
            <% if current_user == @output_user%>
            · <%= link_to 'Edit', edit_book_output_path(@output) %>
            <% end %>
            </small>
          </p>
        </div>
      </div>
    </article>


    <h1>コメント</h1>
    <h1>ここにコメント入力フォームも作成するかなあ</h1>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="http://placehold.it/96x96" class="is-rounded">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p><strong>Sean Brown</strong><br>
            コメントコメントコメントコメントコメントコメントコメントコメントコメントコメント<br>
            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
          </p>
        </div>
      </div>
    </article>

  </div>
</main>